<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <machineKey validation="AES"/>
    <pages enableViewState="false"/>
    <sessionState mode="InProc" timeout="960"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="SC_ControlsCS, Version=4.0.6.0, Culture=neutral, PublicKeyToken=E7A523B603173679"/>
        <add assembly="Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED"/>
        <add assembly="SC_SolutionsSystem, Version=4.0.6.0, Culture=neutral, PublicKeyToken=A50C66DEEBB893DF"/>
        <add assembly="SC_SolutionsSystem.OfficeExcel, Version=4.0.5.0, Culture=neutral, PublicKeyToken=78771C8CB2A3EE84"/>
        <add assembly="SC_CompressLib, Version=4.0.6.0, Culture=neutral, PublicKeyToken=FAC9EA0D48DBAEAB"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>