<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dll_IRE_INTERMED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dll_IRE_INTERMED.Properties.Settings>
            <setting name="Dll_IRE_INTERMED_wsIRE_INTERMED_wsIRE_INTERMED"
                serializeAs="String">
                <value>http://localhost/wsWebDll_SII_IRE_INTERMED/wsIRE_INTERMED.asmx</value>
            </setting>
        </Dll_IRE_INTERMED.Properties.Settings>
    </applicationSettings>
</configuration>