<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DllTransferenciaSoft" publicKeyToken="285baff529590aa0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.24.0" newVersion="5.0.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
