<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wcfRecepcionASMXSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx" binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap" contract="paxsvrRecepcionService.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>
