<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dll_MA_IFacturacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wcfRecepcionASMXSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wcfRecepcionASMXSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="wcfCancelaASMXSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wcfCancelaASMXSoap1" />
        <binding name="wcfRecepcionASMXSoap2" />
        <binding name="wcfCancelaASMXSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="wcfCancelaASMXSoap3" />
        <binding name="wcfRecepcionASMXSoap3">
          <security mode="Transport" />
        </binding>
        <binding name="wcfRecepcionASMXSoap4" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
        contract="paxsvrRecepcionService.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
      <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfCancelaasmx.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap2"
        contract="PAC_pax_test_svrCancelacionService.wcfCancelaASMXSoap"
        name="wcfCancelaASMXSoap1" />
      <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap3"
        contract="PAC_pax_test_svrRecepcionService.wcfRecepcionASMXSoap"
        name="wcfRecepcionASMXSoap2" />
      <endpoint address="https://paxfacturacion.com.mx:453/webservices/wcfCancelaasmx.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap"
        contract="PAC_pax_svrCancelacionService.wcfCancelaASMXSoap"
        name="wcfCancelaASMXSoap" />
      <endpoint address="https://paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap1"
        contract="PAC_pax_svrRecepcionService.wcfRecepcionASMXSoap"
        name="wcfRecepcionASMXSoap1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
    <Dll_MA_IFacturacion.Properties.Settings>
      <setting name="Dll_MA_IFacturacion_PAC_fd_svrTFD_WSCFDI33" serializeAs="String">
        <value>http://www.foliosdigitalespac.com/WSTimbrado33/WSCFDI33.svc</value>
      </setting>
      <setting name="Dll_MA_IFacturacion_PAC_VirtualSoft_Service" serializeAs="String">
        <value>http://facturacion.virtualsoft.com.mx:7512/timbradoXMLDemoDos/Service.svc</value>
      </setting>
    </Dll_MA_IFacturacion.Properties.Settings>
  </applicationSettings>
</configuration>
