<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dll_ISESEQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dll_ISESEQ.Properties.Settings>
            <setting name="Dll_ISESEQ_wsAcuseProcesos_RE_ws_Cnn_ISESEQ" serializeAs="String">
                <value>http://localhost:1060/wsInterfaceISESEQ.asmx</value>
            </setting>
            <setting name="Dll_ISESEQ_wsAcuseProcesos_cnnInterna_wsISESEQ"
                serializeAs="String">
                <value>http://localhost:21734/wsSII_INT_ISESEQ/wsISESEQ.asmx</value>
            </setting>
            <setting name="Dll_ISESEQ_wsInformacionOperacion_SESEQ" serializeAs="String">
                <value>http://apps.seseqro.gob.mx:8181/finanzas/webService/recepcionMovInv.php</value>
            </setting>
            <setting name="Dll_ISESEQ_wsInformacionOperativa_SESEQ__Web_Service_SESEQ"
                serializeAs="String">
                <value>http://apps.seseqro.gob.mx:8181/finanzas/webService/recepcionMovInv.php</value>
            </setting>
        </Dll_ISESEQ.Properties.Settings>
    </applicationSettings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
