<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dll_ISIADISSEP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dll_ISIADISSEP.Properties.Settings>
            <setting name="Dll_ISIADISSEP_wsAcuseProcesos_RE_ws_Cnn_ISIADISSEP"
                serializeAs="String">
                <value>http://localhost:6179/wsSII_CNN_ISIADISSEP/wsInterfaceISIADISSEP.asmx</value>
            </setting>
            <setting name="Dll_ISIADISSEP_wsAcuseProcesos_cnnInterna_wsISIADISSEP"
                serializeAs="String">
                <value>http://localhost:21734/wsSII_INT_ISIADISSEP/wsISIADISSEP.asmx</value>
            </setting>
        </Dll_ISIADISSEP.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
