
body{
    background: #eee;
    /*background: #101010;*/
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #333;
}
        
#navBarraFrame {
    background: #029092;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 47px;
    padding-left: 87px;
    z-index: 9999;
}
        
.menu-button {
    position: absolute;
    border-radius: 0%;
    color: #fff;
    line-height: 30px;
    text-align: center;
    speak: none;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    top: 7px;
    padding: 8px;
    height: 14px;
    border:none;
}
        
.menu-button:hover {
    background-color: #027476;
}
        
.container {
    height: auto;
    margin-right: auto;
    width: 718px;
    margin-left: auto;
    background: #fff;
    padding: 8px;
    padding-top: 0px !important;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.09);
}


        
.Controls {
    position: relative;
    overflow: hidden;
    width: 700px;
    padding: 8px;
    border: 1px solid #242424;
    margin-bottom: 4px;
    height: auto;
}

.Controls.cont  
{
    padding : 0px;
    border: none;
    margin: 0px;
    margin-bottom: 4px;
}

.Controls.left{        
    width: 200px;
    height: 500px;
    float: left;
    margin-right: 8px;
    margin-bottom: 0px;
}

.Controls div{
    float: left;
}
        
.Controls .Groups{
    margin-right: 8px;
    padding: 8px;
    min-width: 150px;
    width: auto;
    position: relative;
    overflow: hidden;
    margin-top:5px !important;
    
    background-color: #f7f8fb;
}

.bordertop {
    padding-top: 4px !important;
    border-top-width: 1px !important;
    border-top-style: dashed !important;
    border-top-color: #8da1ab !important;
}

.labelGporight {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 0px 7px;
    font-size: 12px;
    background-color: #00632d;
    border-radius: 0px 0px 4px 0px;
    color: #fff;
}

#txtProcedencia
{
    height: 25px;
}
    
    
.labelGpoleft {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 4px 7px;
    font-size: 12px;
    background-color: #029092;
    border-radius: 0px 5px 0px 5px;
    color: #fff;
}

.MsjBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #00632d;
    left: 0px;
    height: 16px;
    color: #fff;
    text-align: center;
}

.hide {
    display: none;
}
.NoBorderRadius{       
    border-radius: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.BorderRadius{       
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Results {
    width: 700px;
    height: 300px;
    padding: 8px;
    padding-top: 16px;
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: dashed;
    border-color: #8da1ab;
    
}
        
.Results.left {
    width: 474px;
    height: 500px;
    float: left;
}

#Exec {
    left: 127px;
}
        
#Print, #Exportar {
    left: 167px;
}
        
.clear {
    clear: both;
}
        
.Controls .Radio {
    margin-right: 8px;
    border-radius: 5px;
    padding-top: 28px;
    padding-bottom: 28px;
    min-width: 178px;
    width: auto;
}

.Controls .Radio.Center {
    text-align: center;
}

.Controls .Radio.Center input[type="radio"].m-wrap{
    float:none;
}

.Controls .Textbox .Unique {
    margin-right: 8px;
    border-radius: 5px;
    padding-bottom: 28px;
    min-width: 150px;
    width: auto;
}
        
.Controls .Combo {
    margin-right: 8px;
    border-radius: 5px;
    min-width: 150px;
    width: auto;
}

.Controls .Combo .Unique {
    margin-right: 8px;
    border-radius: 5px;
    min-width: 150px;
    width: auto;
}
        
.m-input-prepend .add-on {
    width: 80px;
    background:transparent !important;
    border: none;
    text-align: right;
    
    color:#74809d;
}

#ui-datepicker-div {
    background: #eee;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #333;
}

.label {
    background-color: #f5f5f5;
    padding: 4px;
    text-align: center;
    width: 82px;
    height: 21px;
}

/*Help*/
#Caja, .caja {
    border: 4px solid #41a62a !Important;
}


#nvahelp {
    background-color: #00632D !Important;
}