<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <machineKey validation="AES"/>
    <pages enableViewState="false"/>
    <sessionState mode="InProc" timeout="960"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" uiCulture="es"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="SC_SolutionsSystem, Version=4.0.6.0, Culture=neutral, PublicKeyToken=A50C66DEEBB893DF"/>
        <add assembly="SC_SolutionsSystem.OfficeExcel, Version=4.0.5.0, Culture=neutral, PublicKeyToken=78771C8CB2A3EE84"/>
        <add assembly="SC_CompressLib, Version=4.0.6.0, Culture=neutral, PublicKeyToken=FAC9EA0D48DBAEAB"/>
        <add assembly="SC_ControlsCS, Version=4.0.6.0, Culture=neutral, PublicKeyToken=E7A523B603173679"/>
        <add assembly="Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED"/>
      </assemblies>
    </compilation>
    <!--<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Default.aspx"/>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <add key="wsConexion.wsFarmacia" value="http://localhost:65000/wsFarmaciaScSoft/wsFarmacia.asmx"/>
  </appSettings>
</configuration>