<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dll_INT_CNNSESEQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dll_INT_CNNSESEQ.Properties.Settings>
            <setting name="Dll_INT_CNNSESEQ_ws_Interface_SII_SESEQ_wsISESEQ"
                serializeAs="String">
                <value>http://localhost:45245/wsWebDll_SII_ISESEQ/wsISESEQ.asmx</value>
            </setting>
            <setting name="Dll_INT_CNNSESEQ_wsRecetaElectronica_SSEP_WsPrueba"
                serializeAs="String">
                <value>http://ec2-54-188-66-44.us-west-2.compute.amazonaws.com:8090/WsPrueba/WsPrueba</value>
            </setting>
            <setting name="Dll_INT_CNNSESEQ_wsRecetaElectronica_SSEP__20_RecieveXMLService"
                serializeAs="String">
                <value>http://ec2-54-244-200-58.us-west-2.compute.amazonaws.com:8090/Polux/services/RecieveXML</value>
            </setting>
            <setting name="Dll_INT_CNNSESEQ_wsRecetaElectronica_SESEQ__Web_Service_SESEQ"
                serializeAs="String">
                <value>http://apps.seseqro.gob.mx:8181/finanzas/updateSiamC/ws_recepcionRecetaElectronicaDEV.php</value>
            </setting>
            <setting name="Dll_INT_CNNSESEQ_wsColectivoElectronico_SESEQ__Web_Service_SESEQ"
                serializeAs="String">
                <value>http://apps.seseqro.gob.mx:8181/finanzas/updateSiamC/repositorio/ws_recepcionSolicitudColectivo.php</value>
            </setting>
        </Dll_INT_CNNSESEQ.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
