@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
	background: #fff url('../images/bg_frame_002.png') no-repeat center;
	background-size: 100%;
	
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: absolute;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
    background: #1A2227;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	overflow-y: auto;
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.6em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
	height: 47px;
	background: #255482;
    padding: 5px 0px 0px 0px;
    text-align: center;
    border-bottom: 1px solid #242424;
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 0.9em;
	line-height: 2.5;
	padding: 0 20px;
	cursor: pointer;
	background: #1A2227;
	background: #255482;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #101010;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
}

.menu-toc li ul {
    display: none;
}
.menu-toc li ul li a{
    padding-left: 32px;
}

.menu-toc li.menu-toc-current a{
	background:	#00AADE;
    cursor: default;
}

.menu-toc li a:hover{
	background: #00AADE;
}

.menu-toc li a i {
    margin-top: 11px;
    margin-right: 8px;
}

#Info{
    right: 7px;
    margin-right: 0px;
    margin-left: auto;
    position: fixed;
}

#Loading{
    background: #255482 url(../images/loading_002.gif) no-repeat center right;
    width: 128px;
    height: 32px;
    position: fixed;
    top: 6px;
    display: none;
    text-align: center;
    color: #fff;
    font-size: 1.6em;
    font-weight: 300;
}

#Title{
    right: 47px;
    margin-right: 0px;
    margin-left: auto;
    position: fixed;
}

#Title h3{
    font-size: 1.6em;
    font-weight: 300;
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
    height: 46px;
    background: #255482;
    padding: 5px 0px 0px 132px;
}

.menu-info{
    position: fixed;
    background: #fff;
    top: 46px;
    right: 0px;
    margin-right: 0px;
    width:auto;
    height: auto;
    display: none;
    margin-left: auto;
    z-index: 1;
    text-align: center;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
    border-top: 1px solid #032A33;
}

.menu-info div{
    padding: 8px;
}
.menu-info h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #616161;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
	text-align: center;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #00AADE;
}

.bb-custom-wrapper nav {
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 1000;
	background: #255482;
	width: 100%;
	height: 47px;
	border-bottom: 1px solid #242424;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #fff;
}

.menu-button {
	z-index: 1000;
	left: 7px;
	top: 7px;
	padding: 8px;
}

#tblHome {
    left: 47px;
}

#iContent{
    z-index: -1;
    background: transparent url('../images/PHO_Logo.png') no-repeat center;
}

#ChangePass, #Logout, #btnConfig {
    width: 100%;
    background: #1A2227;
    margin: 0px;
}

#ChangePass:hover, #Logout:hover, #btnConfig:hover {
    background: #255482;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content h2 {
	font-weight: 300;
	font-size: 4em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}

#Caja {
    display: none;
    text-align: center;
    vertical-align: middle;
}

#Caja span{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

#Mask {
    top: 47px;
    left: 0;
    position: absolute;
    background-color: #00AADE;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: none;
}

label {
    display: inline-block;
    width: 5em;
}

.clear{
    clear: both;
}
/*--------------*/
/* Modal Window */
/*--------------*/

#MaskM,
.MaskM {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/fancybox_overlay.png');
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    z-index: 999999999999;
    text-align: center;
    display: none;
}

.MaskM {
    display: block;
}

#CajaM,
.CajaM {
    position: relative;
    margin: 0 auto;
    top: 35%;
    border: 4px solid #3CBBE1;
    border-radius: 4px;
    background: #fff;
    width: 400px;
    height: auto;
}

.CajaM {
    width: 400px;
    height: 200px;
    background: url(../images/phoenix.png) center 16px no-repeat rgb(34, 42, 37);
    background-size: 100px;
    border: none;
}

#iLoad {
    position: absolute;
    bottom: 44px;
    left: 184px;
}

#closeM,
.closeM {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 37px;
    height: 34px;
    background: transparent url('../images/fancybox_sprite.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
}

#MsjM,
.MsjM {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
} 

.MsjM {
    position: absolute;
    bottom: 8px;
    padding: 8px;
    color: #FFFFFF;
}

#MsjM .m-input-prepend .add-on{
    width: 150px;
    background: #255482;
    height: 34px;
    text-align: right;
    text-shadow: none;
    color: #fff;
    margin: -1px;
}

#MsjM input{
    height: 32px;
}
#btnModal {
    position: relative;
    width: 125px;
    bottom: 4px;
    right: 4px;
    float: right;
} 

/*-------*/
/* Alert */
/*-------*/
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger, .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}