<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <machineKey validation="AES"/>
    <pages enableViewState="false"/>
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true"/>
    <sessionState mode="InProc" timeout="960"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="SC_SolutionsSystem, Version=4.0.6.0, Culture=neutral, PublicKeyToken=A50C66DEEBB893DF"/>
        <add assembly="SC_SolutionsSystem.OfficeExcel, Version=4.0.5.0, Culture=neutral, PublicKeyToken=78771C8CB2A3EE84"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>