<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DllProveedores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DllProveedores.Properties.Settings>
            <setting name="DllProveedores_wsProveedores_wsCnnProveedores"
                serializeAs="String">
                <value>http://localhost:8121/wsFarmaciaScSoft/wsProveedores.asmx</value>
            </setting>
        </DllProveedores.Properties.Settings>
    </applicationSettings>
</configuration>