<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DllTransferenciaSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DllTransferenciaSoft.Properties.Settings>
            <setting name="DllTransferenciaSoft_wsCliente_wsCnnCliente" serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsFarmacia.asmx</value>
            </setting>
            <setting name="DllTransferenciaSoft_wsFarmaciaSoftGn_wsConexion"
                serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsFarmaciaSoftGn.asmx</value>
            </setting>
            <setting name="DllTransferenciaSoft_wsOficinaCentral_wsCnnOficinaCentral"
                serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsOficinaCentral.asmx</value>
            </setting>
            <setting name="DllTransferenciaSoft_wsOficinaCentralRegional_wsCnnOficinaCentralRegional"
                serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsOficinaCentralRegional.asmx</value>
            </setting>
            <setting name="DllTransferenciaSoft_wsClienteOficinaCentralRegional_wsCnnClienteOficinaCentralRegional"
                serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsClienteOficinaCentralRegional.asmx</value>
            </setting>
            <setting name="DllTransferenciaSoft_wsInformacionHuellas_wsHuellas"
                serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsHuellas.asmx</value>
            </setting>
        </DllTransferenciaSoft.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
