<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dll_IRE_SIGHO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dll_IRE_SIGHO.Properties.Settings>
            <setting name="Dll_IRE_SIGHO_wsIRE_SIGHO_wsIRE_SIGHO" serializeAs="String">
                <value>http://localhost/wsWebDll_SII_IRE_SIGHO/wsIRE_SIGHO.asmx</value>
            </setting>
        </Dll_IRE_SIGHO.Properties.Settings>
        <Dll_IRE_SIGHO.Properties.Settings>
            <setting name="Dll_IRE_SIGHO_wsIRE_SIGHO_wsIRE_SIGHO"
                serializeAs="String">
                <value>http://localhost/wsWebDll_SII_IRE_SIGHO/wsIRE_SIGHO.asmx</value>
            </setting>
        </Dll_IRE_SIGHO.Properties.Settings>
    </applicationSettings>
</configuration>