body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-image:url(../images/INT_Logo.JPG);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
}