<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OficinaCentral.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OficinaCentral.Properties.Settings>
            <setting name="OficinaCentral_wsCnnOficinaCentral_wsCnnOficinaCentral" serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsOficinaCentral.asmx</value>
            </setting>
            <setting name="OficinaCentral_wsUpdater_wsUpdater" serializeAs="String">
                <value>http://localhost:31905/wsFarmaciaScSoft/wsUpdater.asmx</value>
            </setting>
        </OficinaCentral.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
