<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestInformacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestInformacion.Properties.Settings>
            <setting name="TestInformacion_wsInformacion_wsInformacion" serializeAs="String">
                <value>http://intermed.homeip.net/wsEnlaceFarmacia/wsInformacion.asmx</value>
            </setting>
        </TestInformacion.Properties.Settings>
    </applicationSettings>
</configuration>