<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdaterOficinaCentralRegional.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UpdaterOficinaCentralRegional.Properties.Settings>
            <setting name="Updater_Farmacia_wsFarmacia_wsCnnCliente" serializeAs="String">
                <value>http://localhost:65000/wsFarmaciaScSoft/wsFarmacia.asmx</value>
            </setting>
            <setting name="Updater_Farmacia_wsUpdater_wsUpdater" serializeAs="String">
                <value>http://localhost:61535/wsFarmaciaScSoft/wsUpdater.asmx</value>
            </setting>
        </UpdaterOficinaCentralRegional.Properties.Settings>
    </applicationSettings>
</configuration>