<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <roleManager defaultProvider="AspNetWindowsTokenRoleProvider"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization culture="de-CH" uiCulture="de-CH"/>
    <xhtmlConformance mode="Legacy"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <pages enableViewStateMac="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true"/>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
  </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <!--
    <authentication mode="Windows" />
    -->
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<customErrors mode="RemoteOnly">-->
    <customErrors mode="RemoteOnly" defaultRedirect="errores/400.aspx">
      <error statusCode="400" redirect="errores/400.aspx"/>
      <error statusCode="401" redirect="errores/401.aspx"/>
      <error statusCode="403" redirect="errores/403.aspx"/>
      <error statusCode="404" redirect="errores/404.aspx"/>
      <error statusCode="500" redirect="errores/500.aspx"/>
      <error statusCode="501" redirect="errores/501.aspx"/>
      <error statusCode="503" redirect="errores/503.aspx"/>
    </customErrors>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.windows.forms jitDebugging="true"/>
</configuration>